{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'packmanApp/style.css' %}" />

<h1>Join a Team</h1>
<form name="JoinForm" action ="/packmanApp/showStatistics/" method="post">
{% csrf_token %}
{% if error %}
	<p><font color="red">Please choose one of the teams</p>
{% endif %}
{% for team in TeamsList %}
    <input type="radio" name="team" value="{{ team.name }}" />
    <label for="team{{ forloop.counter }}">{{ team.name }}</label><br />
{% endfor %}
<br /><br />
<input type="submit" name="Join" value="Join Selected Team"/>
<input type="submit" name="Not Now" value="Not Now"/>
</form>